*{
    font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  overflow: hidden;
  margin: 0;

}
 .main{
    background-color: black;
    display: flex;
    height: 100vh;
    padding:0.5rem
 }   

.side_bar{
    width: 340px;
    background-color:black;
    border-radius: 1rem;
    color: white;
    margin-right: 0.5rem;
    
}
.main_content{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    color: white;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
}
.music_player{
    position: fixed;
    background-color: black;
    bottom: 0;
    height: 70px;
    width: 100%;
    color: white;

}
.nav{
    background-color:#121212;
    /* padding :0.75rem 0.80rem; */
    border-radius: 1rem;
}
.nav-option{
    padding: 0.5rem 0.75rem;
    opacity: 0.7;
}

.nav-option a{
    text-decoration: none;
    color: white;
    line-height: 2.5rem;
    margin-left: 1rem;
    font-size: 1rem;
  
}
.nav-option i{
  font-size: 1.25rem;
}

.nav-option :hover{
    opacity: 1;
}

.library {
   border-radius: 1rem;
   background-color: #121212;
   margin-top: 0.5rem;
   height: 100%;
   padding :0.5rem 0.75rem;
  
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lib-option a{
    text-decoration: none;
    color: white;
    
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.8rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}
.badge{
    border-radius: 100px;
    padding :0.25rem 1rem;
    border: none;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: black;
    color: white;
}
.sticky-nav{
    display: flex;
    top:0;
    justify-content: space-between;
    position: sticky;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;

}
.sticky-nav-icon{
    font-size: 2rem;
    margin-left: 0.75rem;
}
.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1.25rem;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .card{
    display: flex;
} */
.card-img{
    width :100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-content{
    opacity: 0.8;
    font-size: 0.85rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width:90%;
    height: 50%;
    border-top: 2px solid white;
    opacity: 0.2;
}
.music_player{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    width:25%;
    /* background-color: pink; */
}
.player{
    width: 50%;
    /* background-color: aqua; */
}
.controls{
    width: 25%;
    /* background-color: bisque; */
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player_control_icon{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}
.player_control_icon:hover{
    opacity: 1;
    
}
.playback_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_bar{
    width: 50%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress_bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem
}
.progress_bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;

}